/*
Overriding the stuff in blueprint.css (if any)

Bopango Purple: 884499
Lighter purple: 8f6599

*/
body {
    color: #222;
    background-color:#f5f5f5;
    background-image: url(images/bg.png);
    /*font-size: small;*/
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: 'Museo300', 'Century Gothic', 'Futura Medium', 'Apple Gothic', Helvetica, Arial, sans-serif;
}

#ajax-loader {
    color:#a9a9a9;
    display:none;
}

.container {
    border: 10px #8f6599 solid;
    background-color:white;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    min-height: 600px;
}

.rounded {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

.greybob {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    background-color: #dcdcdc;
    padding: 10px;
    font-weight: bold;
}

/* special boxes*/
#geo {
    font-size:1.5em;
    color: white;
    background-color: #927799;
    padding: 10px;
}

#bopd {
    font-style:italic;
    background-color: #dcdcdc;
    padding: 10px;
}

#blanco {
    background-color: white;
    padding: 10px;
}

#topmenu {
    color: #8f6599;
}
#topmenu a {
    color: #8f6599;
}
#topmenu a:hover {
    color: #884499;
}

#loginpage {
    font-size:larger;
}

/*
lighter:
8c5899, 8f6599

darker:
884499
*/